In [8]:
# importation des librairies
import pandas as pd
import datetime as datetime
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import os

In [9]:
# chemin de fichier excel
data_path='C:/Users/Lina/PDS/PDS/voitures.csv'
#transformer le fichier excel en dataframe
df=pd.read_csv(data_path , sep=';')
df

    Matricule    Marque Date de circulation  Kilometrage  Cylindre
0         130   FERRARI          06/06/2016       200000        12
1         131   PEUGEOT          18/05/2017       510000         3
2         127        VW          31/12/2019        30000         6
3         128   PEUGEOT          14/02/2020        90000         4
4         132        VW          19/04/2020       230000         4
5         123       BMW          12/12/2020        50000         8
6         133       BMW          19/01/2021        12300         8
7         129      AUDI          01/03/2021        60000         6
8         126  MERCEDES          20/05/2021       100000         8
9         135  MERCEDES          14/07/2021       190000         8
10        125        VW          03/02/2022        75000         6
11        134   BUGATTI          22/12/2022        13600        12
12        124      AUDI          01/02/2023        10000         8

In [10]:
# suppression de la colonne matricule
df.drop('Matricule', axis=1, errors='ignore',inplace=True)
# transformation de la colonne date_circulation en age voiture
df['Date de circulation'] = pd.to_datetime(df['Date de circulation'])

df['AgeV'] = datetime.datetime.now().year - df['Date de circulation'].dt.year
df

C:\Users\Lina\AppData\Local\Temp\ipykernel_3240\2409782196.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date de circulation'] = pd.to_datetime(df['Date de circulation'])

      Marque Date de circulation  Kilometrage  Cylindre  AgeV
0    FERRARI          2016-06-06       200000        12     7
1    PEUGEOT          2017-05-18       510000         3     6
2         VW          2019-12-31        30000         6     4
3    PEUGEOT          2020-02-14        90000         4     3
4         VW          2020-04-19       230000         4     3
5        BMW          2020-12-12        50000         8     3
6        BMW          2021-01-19        12300         8     2
7       AUDI          2021-01-03        60000         6     2
8   MERCEDES          2021-05-20       100000         8     2
9   MERCEDES          2021-07-14       190000         8     2
10        VW          2022-03-02        75000         6     1
11   BUGATTI          2022-12-22        13600        12     1
12      AUDI          2023-01-02        10000         8     0

In [11]:
# suppression de la colonne date_circulation
df = df.drop(columns=['Date de circulation'], axis=1)
df

      Marque  Kilometrage  Cylindre  AgeV
0    FERRARI       200000        12     7
1    PEUGEOT       510000         3     6
2         VW        30000         6     4
3    PEUGEOT        90000         4     3
4         VW       230000         4     3
5        BMW        50000         8     3
6        BMW        12300         8     2
7       AUDI        60000         6     2
8   MERCEDES       100000         8     2
9   MERCEDES       190000         8     2
10        VW        75000         6     1
11   BUGATTI        13600        12     1
12      AUDI        10000         8     0

In [12]:
df_copie = df

In [13]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
 #OHE data
 
# one-hot encode  'Marque' 
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(df[['Marque']])

encoded = encoder.transform(df[['Marque']]).toarray()
cols = encoder.get_feature_names_out(['Marque'])
df_encoded = pd.DataFrame(encoded, columns=cols)

# normalize the 'Kilometrage' and 'Cylindre' columns
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df[['Kilometrage', 'Cylindre','AgeV']]), columns=['Kilometrage', 'Cylindre','AgeV'])

# combine the encoded and normalized DataFrames
df_combined = pd.concat([df_encoded, df_normalized], axis=1)

# print the resulting DataFrame
print(df_combined)

    Marque_AUDI  Marque_BMW  Marque_BUGATTI  Marque_FERRARI  Marque_MERCEDES  \
0           0.0         0.0             0.0             1.0              0.0
1           0.0         0.0             0.0             0.0              0.0
2           0.0         0.0             0.0             0.0              0.0
3           0.0         0.0             0.0             0.0              0.0
4           0.0         0.0             0.0             0.0              0.0
5           0.0         1.0             0.0             0.0              0.0
6           0.0         1.0             0.0             0.0              0.0
7           1.0         0.0             0.0             0.0              0.0
8           0.0         0.0             0.0             0.0              1.0
9           0.0         0.0             0.0             0.0              1.0
10          0.0         0.0             0.0             0.0              0.0
11          0.0         0.0             1.0             0.0              0.0
12          1.0         0.0             0.0             0.0              0.0

    Marque_PEUGEOT  Marque_VW  Kilometrage  Cylindre      AgeV
0              0.0        0.0       0.3800  1.000000  1.000000
1              1.0        0.0       1.0000  0.000000  0.857143
2              0.0        1.0       0.0400  0.333333  0.571429
3              1.0        0.0       0.1600  0.111111  0.428571
4              0.0        1.0       0.4400  0.111111  0.428571
5              0.0        0.0       0.0800  0.555556  0.428571
6              0.0        0.0       0.0046  0.555556  0.285714
7              0.0        0.0       0.1000  0.333333  0.285714
8              0.0        0.0       0.1800  0.555556  0.285714
9              0.0        0.0       0.3600  0.555556  0.285714
10             0.0        1.0       0.1300  0.333333  0.142857
11             0.0        0.0       0.0072  1.000000  0.142857
12             0.0        0.0       0.0000  0.555556  0.000000

In [14]:
marque='FIAT'
date_circulation="12/12/2022"
date_circulation=datetime.datetime.strptime(date_circulation,'%d/%m/%Y')  
kilometrage=1200
cylindre=1
AgeV=datetime.datetime.now().year -date_circulation.year

In [15]:
#on new row 
# create the new row
new_rows = {'Marque': marque,'Kilometrage': kilometrage, 'Cylindre': cylindre, 'AgeV': AgeV}

In [51]:
"""
new_cat= "Marque_"+marque
new_cat
if new_cat in df_combined.columns:
    pass
else:
   new_row = {'Marque': marque,'Kilometrage': 0, 'Cylindre': 0, 'AgeV': 0}
   df = df.append(new_row, ignore_index=True)
   encoder = OneHotEncoder()
   encoder.fit(df[['Marque']])

   encoded = encoder.transform(df[['Marque']]).toarray()
   cols = encoder.get_feature_names_out(['Marque'])
   df_encoded = pd.DataFrame(encoded, columns=cols)

    # normalize the 'Kilometrage' and 'Cylindre' columns
   scaler = MinMaxScaler()
   df_normalized = pd.DataFrame(scaler.fit_transform(df[['Kilometrage', 'Cylindre','AgeV']]), columns=['Kilometrage', 'Cylindre','AgeV'])

    # combine the encoded and normalized DataFrames
   df_combined = pd.concat([df_encoded, df_normalized], axis=1)

    # print the resulting DataFrame
   print(df_combined)
    

"""

    Marque_AUDI  Marque_BMW  Marque_BUGATTI  Marque_FERRARI  Marque_FIAT  \
0           0.0         0.0             0.0             1.0          0.0
1           0.0         0.0             0.0             0.0          0.0
2           0.0         0.0             0.0             0.0          0.0
3           0.0         0.0             0.0             0.0          0.0
4           0.0         0.0             0.0             0.0          0.0
5           0.0         1.0             0.0             0.0          0.0
6           0.0         1.0             0.0             0.0          0.0
7           1.0         0.0             0.0             0.0          0.0
8           0.0         0.0             0.0             0.0          0.0
9           0.0         0.0             0.0             0.0          0.0
10          0.0         0.0             0.0             0.0          0.0
11          0.0         0.0             1.0             0.0          0.0
12          1.0         0.0             0.0             0.0          0.0
13          0.0         0.0             0.0             0.0          1.0

    Marque_MERCEDES  Marque_PEUGEOT  Marque_VW  Kilometrage  Cylindre  \
0               0.0             0.0        0.0     0.392157  1.000000
1               0.0             1.0        0.0     1.000000  0.250000
2               0.0             0.0        1.0     0.058824  0.500000
3               0.0             1.0        0.0     0.176471  0.333333
4               0.0             0.0        1.0     0.450980  0.333333
5               0.0             0.0        0.0     0.098039  0.666667
6               0.0             0.0        0.0     0.024118  0.666667
7               0.0             0.0        0.0     0.117647  0.500000
8               1.0             0.0        0.0     0.196078  0.666667
9               1.0             0.0        0.0     0.372549  0.666667
10              0.0             0.0        1.0     0.147059  0.500000
11              0.0             0.0        0.0     0.026667  1.000000
12              0.0             0.0        0.0     0.019608  0.666667
13              0.0             0.0        0.0     0.000000  0.000000

        AgeV
0   1.000000
1   0.857143
2   0.571429
3   0.428571
4   0.428571
5   0.428571
6   0.285714
7   0.285714
8   0.285714
9   0.285714
10  0.142857
11  0.142857
12  0.000000
13  0.000000

C:\Users\Lina\AppData\Local\Temp\ipykernel_15236\3450512798.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [16]:
df_combined

,Marque_AUDI,Marque_BMW,Marque_BUGATTI,Marque_FERRARI,Marque_MERCEDES,Marque_PEUGEOT,Marque_VW,Kilometrage,Cylindre,AgeV
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.3800,1.000000,1.000000
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0000,0.000000,0.857143
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0400,0.333333,0.571429
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.1600,0.111111,0.428571
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.4400,0.111111,0.428571
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0800,0.555556,0.428571
6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0046,0.555556,0.285714
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1000,0.333333,0.285714
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1800,0.555556,0.285714
9,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.3600,0.555556,0.285714
10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.1300,0.333333,0.142857
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0072,1.000000,0.142857
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.555556,0.000000

In [17]:
# convert the new row to a DataFrame
new_rowdf = pd.DataFrame([new_rows])

In [18]:
# encode the new row
encoded = encoder.transform(pd.DataFrame(new_rowdf, index=[0])[['Marque']]).toarray()

In [19]:
encoded

array([[0., 0., 0., 0., 0., 0., 0.]])

In [20]:
# add the new row to the encoded and normalized dataframe
new_row_df = pd.concat([pd.DataFrame(encoded, columns=cols), pd.DataFrame(scaler.transform(pd.DataFrame(new_rows, index=[0])[['Kilometrage', 'Cylindre', 'AgeV']]), columns=['Kilometrage', 'Cylindre', 'AgeV'])], axis=1)

In [21]:
new_row_df

,Marque_AUDI,Marque_BMW,Marque_BUGATTI,Marque_FERRARI,Marque_MERCEDES,Marque_PEUGEOT,Marque_VW,Kilometrage,Cylindre,AgeV
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0176,-0.222222,0.142857

In [22]:
df_combined

,Marque_AUDI,Marque_BMW,Marque_BUGATTI,Marque_FERRARI,Marque_MERCEDES,Marque_PEUGEOT,Marque_VW,Kilometrage,Cylindre,AgeV
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.3800,1.000000,1.000000
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0000,0.000000,0.857143
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0400,0.333333,0.571429
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.1600,0.111111,0.428571
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.4400,0.111111,0.428571
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0800,0.555556,0.428571
6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0046,0.555556,0.285714
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1000,0.333333,0.285714
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1800,0.555556,0.285714
9,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.3600,0.555556,0.285714
10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.1300,0.333333,0.142857
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0072,1.000000,0.142857
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.555556,0.000000

In [28]:
df_combined = pd.concat([df_combined, new_row_df], ignore_index=True)

# print the resulting DataFrame
print(df_combined)

    Marque_AUDI  Marque_BMW  Marque_BUGATTI  Marque_FERRARI  Marque_MERCEDES  \
0           0.0         0.0             0.0             1.0              0.0
1           0.0         0.0             0.0             0.0              0.0
2           0.0         0.0             0.0             0.0              0.0
3           0.0         0.0             0.0             0.0              0.0
4           0.0         0.0             0.0             0.0              0.0
5           0.0         1.0             0.0             0.0              0.0
6           0.0         1.0             0.0             0.0              0.0
7           1.0         0.0             0.0             0.0              0.0
8           0.0         0.0             0.0             0.0              1.0
9           0.0         0.0             0.0             0.0              1.0
10          0.0         0.0             0.0             0.0              0.0
11          0.0         0.0             1.0             0.0              0.0
12          1.0         0.0             0.0             0.0              0.0
13          0.0         0.0             0.0             0.0              0.0
14          0.0         0.0             0.0             0.0              0.0

    Marque_PEUGEOT  Marque_VW  Kilometrage  Cylindre      AgeV  Marque_FIAT
0              0.0        0.0       0.3800  1.000000  1.000000          0.0
1              1.0        0.0       1.0000  0.000000  0.857143          0.0
2              0.0        1.0       0.0400  0.333333  0.571429          0.0
3              1.0        0.0       0.1600  0.111111  0.428571          0.0
4              0.0        1.0       0.4400  0.111111  0.428571          0.0
5              0.0        0.0       0.0800  0.555556  0.428571          0.0
6              0.0        0.0       0.0046  0.555556  0.285714          0.0
7              0.0        0.0       0.1000  0.333333  0.285714          0.0
8              0.0        0.0       0.1800  0.555556  0.285714          0.0
9              0.0        0.0       0.3600  0.555556  0.285714          0.0
10             0.0        1.0       0.1300  0.333333  0.142857          0.0
11             0.0        0.0       0.0072  1.000000  0.142857          0.0
12             0.0        0.0       0.0000  0.555556  0.000000          0.0
13             0.0        0.0      -0.0176 -0.222222  0.142857          NaN
14             0.0        0.0      -0.0176 -0.222222  0.142857          1.0

In [86]:
# define the first row in the df_combined DataFrame

Marque_AUDI        0.000000
Marque_BMW         0.000000
Marque_BUGATTI     0.000000
Marque_FERRARI     0.000000
Marque_FIAT        0.000000
Marque_MERCEDES    0.000000
Marque_PEUGEOT     1.000000
Marque_VW          0.000000
Kilometrage        1.000000
Cylindre           0.250000
AgeV               0.857143
Name: 1, dtype: float64

In [24]:
new_row=new_row_df.iloc[0]
new_row

Marque_AUDI        0.000000
Marque_BMW         0.000000
Marque_BUGATTI     0.000000
Marque_FERRARI     0.000000
Marque_MERCEDES    0.000000
Marque_PEUGEOT     0.000000
Marque_VW          0.000000
Kilometrage       -0.017600
Cylindre          -0.222222
AgeV               0.142857
Name: 0, dtype: float64

In [25]:
for i in range(len(df_combined)):
    first_row = df_combined.iloc[i]
    first_row
    # calculate the Euclidean distance between the first row and the new row
    distance = np.sqrt(np.sum((first_row - new_row)**2))
    print(distance)

1.8402735660887073
1.610930339177345
1.2229608353076549
1.1064743667036918
1.1841205699473072
1.3023427677328894
1.275084026592069
1.158826949364722
1.2901132488546285
1.329634609533854
1.1534416913345218
1.5793803216748736
1.275012233223762

In [93]:
distance

1.879702506618978

In [ ]:
# find the indices of the closest cars
closest_indices = distances.argsort()

# print the top 3 closest cars
print('Top 3 closest cars:')
for i in range(3):
    index = closest_indices[i]
    closest_car = df.iloc[index]
    print(f'{i+1}. {closest_car["Marque"]}, Kilometrage: {closest_car["Kilometrage"]}, Cylindre: {closest_car["Cylindre"]}, Distance: {distances[index]}')