In [92]:
# importation des librairies
import pandas as pd
import datetime
from sklearn.preprocessing import OneHotEncoder

In [72]:
# importation drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [93]:
# chemin de fichier excel
data_path='/content/drive/MyDrive/datasetvoiture.xlsx'

In [94]:
#transformer le fichier excel en dataframe
df=pd.read_excel("/content/drive/MyDrive/datasetvoiture.xlsx")
df

       matricule    marque date_ciruclation  kilometrage  cylindre
0    125 TN 2548      jeep       2000-11-12            1         3
1    265 TN 8954       kia       2023-02-01            2         4
2    214 TN 1458       bmw       2022-02-03            3         8
3    213 TN 1236      jeep       2021-05-20            4         7
4   147 TN 4875        bmw       2019-12-31            5         4
5    156 TN 1258      jeep       2000-03-14            6         4
6    147 TN 5988  mercedes       2021-03-01            7         2
7   1259 TN 4789       kia       2016-06-06            8         8
8    268 TN 1254      jeep       2017-05-18            9         6
9    213 TN 1587  mercedes       2000-05-19           10         1
10   111 TN 1598       bmw       2021-01-19           11         8
11   105 TN 1874      jeep       2022-12-22           12         7
12   123 TN 1875       kia       2020-08-14           13         5

In [95]:
# suppression de la colonne matricule
df.drop('matricule', axis=1, errors='ignore',inplace=True)
df

      marque date_ciruclation  kilometrage  cylindre
0       jeep       2000-11-12            1         3
1        kia       2023-02-01            2         4
2        bmw       2022-02-03            3         8
3       jeep       2021-05-20            4         7
4        bmw       2019-12-31            5         4
5       jeep       2000-03-14            6         4
6   mercedes       2021-03-01            7         2
7        kia       2016-06-06            8         8
8       jeep       2017-05-18            9         6
9   mercedes       2000-05-19           10         1
10       bmw       2021-01-19           11         8
11      jeep       2022-12-22           12         7
12       kia       2020-08-14           13         5

In [96]:
# affichae de la colonne date_circulation
df[['date_ciruclation']]

   date_ciruclation
0        2000-11-12
1        2023-02-01
2        2022-02-03
3        2021-05-20
4        2019-12-31
5        2000-03-14
6        2021-03-01
7        2016-06-06
8        2017-05-18
9        2000-05-19
10       2021-01-19
11       2022-12-22
12       2020-08-14

In [97]:
# transformation de la colonne date_circulation en circulation
df['date_ciruclation'] = pd.to_datetime(df['date_ciruclation'])
df
df['circulation'] = datetime.datetime.now().year - df['date_ciruclation'].dt.year
df

      marque date_ciruclation  kilometrage  cylindre  circulation
0       jeep       2000-11-12            1         3           23
1        kia       2023-02-01            2         4            0
2        bmw       2022-02-03            3         8            1
3       jeep       2021-05-20            4         7            2
4        bmw       2019-12-31            5         4            4
5       jeep       2000-03-14            6         4           23
6   mercedes       2021-03-01            7         2            2
7        kia       2016-06-06            8         8            7
8       jeep       2017-05-18            9         6            6
9   mercedes       2000-05-19           10         1           23
10       bmw       2021-01-19           11         8            2
11      jeep       2022-12-22           12         7            1
12       kia       2020-08-14           13         5            3

In [98]:
# suppression de la colonne date_circulation
df = df.drop(columns=['date_ciruclation'], axis=1)
df

      marque  kilometrage  cylindre  circulation
0       jeep            1         3           23
1        kia            2         4            0
2        bmw            3         8            1
3       jeep            4         7            2
4        bmw            5         4            4
5       jeep            6         4           23
6   mercedes            7         2            2
7        kia            8         8            7
8       jeep            9         6            6
9   mercedes           10         1           23
10       bmw           11         8            2
11      jeep           12         7            1
12       kia           13         5            3

In [99]:
#affichage de la colonne marque
df[['marque']]

      marque
0       jeep
1        kia
2        bmw
3       jeep
4        bmw
5       jeep
6   mercedes
7        kia
8       jeep
9   mercedes
10       bmw
11      jeep
12       kia

In [100]:
# transformation de la colonne marque avec one hot encoding
ohe=OneHotEncoder()
ohe.fit(df[['marque']])
ohe.categories_[0]

array(['bmw', 'jeep', 'kia', 'mercedes'], dtype=object)

In [101]:
marque_ohe=ohe.transform(df[['marque']])
marque_ohe.toarray()

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [102]:
df_marque=pd.DataFrame(marque_ohe.toarray(), columns='marque_'+ohe.categories_[0])
df_marque

    marque_bmw  marque_jeep  marque_kia  marque_mercedes
0          0.0          1.0         0.0              0.0
1          0.0          0.0         1.0              0.0
2          1.0          0.0         0.0              0.0
3          0.0          1.0         0.0              0.0
4          1.0          0.0         0.0              0.0
5          0.0          1.0         0.0              0.0
6          0.0          0.0         0.0              1.0
7          0.0          0.0         1.0              0.0
8          0.0          1.0         0.0              0.0
9          0.0          0.0         0.0              1.0
10         1.0          0.0         0.0              0.0
11         0.0          1.0         0.0              0.0
12         0.0          0.0         1.0              0.0

In [103]:
# concatenation de la colonne avec la data frame
df=pd.concat([df,df_marque], axis=1)
df

,marque,kilometrage,cylindre,circulation,marque_bmw,marque_jeep,marque_kia,marque_mercedes
0,jeep,1,3,23,0.0,1.0,0.0,0.0
1,kia,2,4,0,0.0,0.0,1.0,0.0
2,bmw,3,8,1,1.0,0.0,0.0,0.0
3,jeep,4,7,2,0.0,1.0,0.0,0.0
4,bmw,5,4,4,1.0,0.0,0.0,0.0
5,jeep,6,4,23,0.0,1.0,0.0,0.0
6,mercedes,7,2,2,0.0,0.0,0.0,1.0
7,kia,8,8,7,0.0,0.0,1.0,0.0
8,jeep,9,6,6,0.0,1.0,0.0,0.0
9,mercedes,10,1,23,0.0,0.0,0.0,1.0
10,bmw,11,8,2,1.0,0.0,0.0,0.0
11,jeep,12,7,1,0.0,1.0,0.0,0.0
12,kia,13,5,3,0.0,0.0,1.0,0.0